# Bỏ qua tất cả các tệp .log
*.log

# Bỏ qua thư mục node_modules và các tệp .DS_Store
node_modules/
.DS_Store
__pycache__/
.venv/
# Bỏ qua thư mục build
build/
.nuxt/
.output/
.env
# Bỏ qua tệp cấu hình môi trường
